<%- unsafe_string = '{{unsafe}}' %>
<%- safe_string = '{{safe}}'.html_safe %>

<%= unsafe_string %>
<%= safe_string %>

<%= ''.html_safe + unsafe_string %>
<%= ''.html_safe + safe_string %>

<%= ''.html_safe << unsafe_string %>
<%= ''.html_safe << safe_string %>

{{safe}}

<div foo="{{safe}}" bar="<%= unsafe_string %>">
  {{safe}}
</div>

<%= content_tag(:span, unsafe_string) %>
<%= content_tag(:span, safe_string) %>

<%= '{&lcub;unsafe}}' %>
<%= '{&lbrace;unsafe}}' %>
<%= '{&#x7b;unsafe}}' %>
<%= '{&#X7B;unsafe}}' %>
<%= '{&#x000007b;unsafe}}' %>
<%= '{&#x000000000007b;unsafe}}' %>
<%= '{&#123;unsafe}}' %>
<%= '{&#000000123;unsafe}}' %>
<%= '{&#0000000000000123;unsafe}}' %>
<%= '&lcub;&#x7b;unsafe}}' %>
